{% extends 'user_template/base.html' %}

{% block title %}
login
{% endblock %}

{% block content %}
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>
 {% if request.GET.command == 'verification' %}
 <div class="container bg-dark text-white alert alert-info text-center" role="alert" style="border-radius: 1rem;">
   We have sent a verification message to your email address [{{request.GET.email}}]<br><br>
   Already verified? <a href="{% url 'login' %}">Login</a>
 </div>
 {% else %}
 {% include 'user_template/alert.html' %}
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(120, 93%, 48%)">
          <span style="color: hsl(64, 86%, 42%)">LIVE</span> Organic For<br />
          <span style="color: hsl(64, 80%, 39%)">LIVE</span>
          Healthy
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          "Welcome to our organic fresh farm, where every login unlocks
           a world of wholesome goodness. Dive into a virtual orchard of the freshest produce,
            cultivated with care for a healthier you. Join our community and experience
             the farm-to-table journey like never before. Embrace the taste of nature with
              each click – your journey to organic delight starts here!"
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <h2 class="fw-bold mb-2 text-uppercase" style="font-size: 1.5rem;">Login</h2>
                <p class="text-dark-50 mb-3" style="font-size: 0.9rem;">Please enter your email and password!</p>
           <form action="{% url 'login' %}" method="POST">
                  {% csrf_token %}
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" name="email"/>
                <label class="form-label" for="form3Example3">Email address</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" name="password"/>
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
               Login
              </button>
              <p class="small mb-3 pb-lg-1"><a class="text-dsrk-50" href="{% url 'forgotPassword' %}">Forgot password?</a></p>

              <!-- Register buttons -->
              <div class="text-center">
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> 
  </div>
  {% endif %}
</section>
<!-- Section: Design Block -->
{% endblock %}
