{% extends 'admin_template/admin_base.html' %}

{% block title %}
users
{% endblock %}

{% block content %}
<style>
  .gradient-custom-2 {
    background: #7e40f6;
    background: -webkit-linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1));
    background: linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1));
  }

  .mask-custom {
    background: rgba(24, 24, 16, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }
</style>
<section class="vh-auto gradient-custom-2">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-12 col-xl-10">

        <div class="card mask-custom">
          <div class="card-body p-4 text-white">

            <div class="text-center pt-3 pb-2">
              <h2 class="my-4">Users List</h2>
            </div>

            <div class="table-responsive">
              <table class="table text-white mb-0">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">E-mail</th>
                    <!-- <th scope="col">E-mail</th> -->
                    <!-- <th scope="col">Edit</th>
                    <th scope="col">Delete</th> -->
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                    <tr class="fw-normal">
                      <td>
                        <img src="{{ product.image.url }}" alt="image" style="width: 45px; height: auto;">
                        <span class="ms-2">{{ user.firstname }}</span>
                      </td>
                      <td class="align-middle">
                        <span>{{ user.email }}</span>
                      </td>
                      <td class="align-middle">
                       <a href="{% url 'usersprofile' user.id %}" data-bs-toggle="tooltip" title="View">
                        <i class="fas fa-eye fa-lg text-info me-3"></i>
                       </a>
                      </td>
                      <td class="align-middle">
                        {% if user.is_active %}
                        <a href="{% url 'blockuser' user.id %}" data-mdb-toggle="tooltip" title="Block">
                          <i class="fas fa-ban fa-lg text-danger"> Block</i>
                        </a>
                        {% else %}
                        <a href="{% url 'blockuser' user.id %}" data-mdb-toggle="tooltip" title="Block">
                          <i class="fas fa-ban fa-lg text-danger"> Unblock</i>
                        </a>
                        {% endif %}
                      </td>                      
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
